:root{
	--firstColor: #1b92bc;
	--secondColor:#FFBC1C;
	--thirdColor: #FF3F1C;

}

html, body{
min-height: 100vh;
}

body{
	font-family: "Lato", sans-serif;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container{
	background-color: aliceblue;
	width: 100%;
	max-width: 960px;
	margin: 20px auto;
	border-radius: 16px;
	border: 1px solid #FFFF;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	box-sizing: border-box;
	border-bottom: 1px solid gray;
}

.header_logo{
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(../img/pencil-svgrepo-com.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.header_nav{
	display: flex;
	gap: 30px;
}

.header_link{
	font-size: 20px;
	font-weight: 400;
	color: black;
}
.header_link:hover{
	color: var(--firstColor);
}

a{
	text-decoration: none;
}

.main{
	height: 70vh;
	display: flex;
	justify-content: space-evenly;
	align-content: center;

}

.buttons{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.buttons button{
	width: 50%;
}

.productsCollection{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.errorContainer{
	margin-top: 50%;
	max-width: 400px;
	background-color: aliceblue;
	border: 2px solid #FF3F1C;
	border-radius: 5px;
	padding: 10px;
	word-wrap: break-word;
}

.errorContainer h2{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.productsTable{
	height: 50%;
	width: 50%;
	border-radius: 5px;
	border-collapse: collapse;
}
.productsTable tr,td,th{
	border: 1px solid var(--firstColor);
}

